/* RESET GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    color: var(--text);
    box-sizing: border-box;
}

/* VARIABLES CSS */
:root {
  /* COLORES BASE RGB para transparencias*/
  --primary-rgb: 110 159 50;
  --secondary-rgb: 46 65 51; 
  --text-rgb: 40 45 41;   

  /* COLORES NEUTROS */
  --white: #ffffff;
  --gray: #f4f4f4; 

  /* Imprescindibles */
  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(var(--secondary-rgb));
  --text: rgb(var(--text-rgb));
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: clip;
}

section[id] {
  scroll-margin-top: 5rem; /* ajusta a la altura del header/submenu */
}

h1 {
    padding: 4rem 0;
    text-align: center;
    color: var(--primary);
    font-size: clamp(3rem, 5vw, 4rem);
    text-shadow: 0 0 .2rem #2e413334;
}

/* HEADER / SIDEBAR */
.sidebar {
    background-color: var(--white);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1rem;
    height: 4.375rem;

    position: relative;
    /* clave para el desplegable */
}

/* Logotipo */
.sidebar__logo img {
    width: 3.75rem;
    display: block;
}

/* Lista de navegación */
.sidebar__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--white);
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* Enlaces del menú */
.sidebar__a {
    display: block;
    padding: 1.25rem;
    font-weight: bold;
    color: var(--secondary);
    width: 100%;
    border-top: 1px solid var(--gray);
}

.sidebar__a:hover {
    color: var(--primary);
}

/* ENLACE ACTIVO */
.sidebar__a.a--active {
    color: var(--primary);
}


/* MENÚ RESPONSIVE*/
.nav {
    background-color: var(--white);
    clear: both;
    max-height: none;
    transition: max-height .2s ease-out;
}

/* menu icono */
.menu-icon {
    cursor: pointer;
    display: none;
    padding: 1.75rem 1.25rem;
    position: relative;
    user-select: none;

}

.menu-icon .navicon {
    background: var(--primary);
    display: block;
    height: .125rem;
    position: relative;
    transition: background .2s ease-out;
    width: 1.125rem;
}

/* Líneas superior e inferior del icono */
.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: var(--primary);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: .3125rem;
}

.menu-icon .navicon:after {
    top: -0.3125rem;
}

/* Checkbox oculto que controla el menú */
.menu-toggle {
    display: none;
}

/* MENU MEDIA QUERY*/
@media (max-width: 48em) {
    .menu-icon {
        display: inline-block;
    }

    .sidebar {
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    /* Menú desplegable */
    .nav {
        position: absolute;
        top: 4.375rem;
        left: 0;
        width: 100%;
        background-color: var(--white);

        max-height: 0;
        /* cerrado */
        overflow: hidden;
        transition: max-height .2s ease-out;
    }

    .sidebar__ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    /* cuando el checkbox está activo */
    .menu-toggle:checked~.nav {
        max-height: 15rem;
    }

    /* Animación icono a X */
    .menu-toggle:checked~.menu-icon .navicon {
        background: transparent;
    }

    .menu-toggle:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-toggle:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-toggle:checked~.menu-icon .navicon:before,
    .menu-toggle:checked~.menu-icon .navicon:after {
        top: 0;
    }
}

/* desktop/ viewport pc */
@media (min-width: 48em) {
    .sidebar__ul {
        flex-direction: row;
    }
}

/*Altura mínima del cuerpo principal de las páginas*/
main {
    min-height: calc(100vh - 8.75rem);
}

/* INICIO SLIDER */
.slideshow__container {
    width: 100%;
    height: calc(100vh - 8.75rem);
    overflow: hidden;
    position: relative;
}

.slides__wrapper {
    display: flex;
    height: 100%;
    transition: transform 4s ease;
}

.my__slides {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.my__slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Texto sobre el slider */
.slider__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: 15%;
    width: 70%;
    color: aliceblue;
    font-size: clamp(3rem, 5vw, 6rem);
    text-align: center;
    line-height: 1.1;
}

/* Navegación del slider */
.slider__nav {
    text-align: center;
    position: absolute;
    bottom: 6.25rem;
    width: 100%;
}
/* Botones del slider */
.dot {
    cursor: pointer;
    height: .7rem;
    width: .625rem;
    margin: 0 .125rem;
    background-color: var(--white);
    opacity: .5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.active,
.dot:hover {
    opacity: 1;
    background-color: var(--primary);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* Beneficios Inicio */
.benefits {
    background-color: #46644e38;
    padding: 3rem;
    height: auto;
}

.benefits h2 {
    color: var(--secondary);
    text-align: center;
    padding: 4rem;
}

.benefits--flex {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem;
    justify-content: center;
}

.benefits__img {
    max-width: 31.25rem;
}

.benefits__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* rellena sin deformar */

}

/* Tarjetas de beneficios */
.benefits__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 40rem;
}

.benefits__card {
    text-align: center;
    background-color: var(--white);
    width: 16rem;
    height: 15.625rem;
    padding: 1rem;
    box-shadow: .3rem .3rem .5rem #46644e14;
}

.benefits__card h3 {
    color: var(--primary);
    font-weight: bold;
    margin: 1rem;
}

.benefits__card img {
    width: 3.125rem;
}

/* ACORDEÓN - PREGUNTAS FRECUENTES */
.questions {
    width: 90%;
    margin: 0 auto;
    max-width: 120em;
    padding: 2rem;
}

.questions h2 {
    margin: 2rem;
    text-align: center;
}

.questions .bloque {
    background-color: var(--white);
    border-radius: 1rem;
    padding: .5rem;
}

.questions .h3 {
    background-color: rgb(var(--primary-rgb) / 0.25);
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.138);
    border-radius: .5rem;
    padding: .8rem;
}

.questions .contenido {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);

    transition:
        opacity .5s ease,
        transform .5s ease;

    background-color: var(--white);
}

.questions .bloque.activo .contenido {
    max-height: 500px;     /* suficiente para el contenido */
    opacity: 1;
    transform: translateY(0);
    padding: 2rem;
}

/* INFUSIONES Y TÉS
SUBMENÚ DE NAVEGACIÓN */
.submenu {
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1;

    display: flex;
    justify-content: center;
    background-color: var(--primary);
    height: 3rem;
    align-items: center;
}

.submenu__ul {
    display: flex;
    gap: 2rem;
}

.submenu__a {
    color: var(--white);
    font-weight: bold;
}

.submenu__a:hover {
    color: var(--secondary);
    font-weight: bold;
}

.submenu__a.active {
     color: var(--secondary);
    font-weight: bold;
}






/* TÍTULOS CON IMAGEN DE FONDO */
.title {
    margin: 0;
    height: 25rem;

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 -.9375rem 1.5625rem rgba(0, 0, 0, .12);
}

/* Fondo específico para el título la página de Tés */
.title.title--tes {
    background-image: url(../img/fond-te.jpg);
    background-position: center;
}

/* Fondo específico para el título la página de Infusiones */
.title.title--infusiones {
    background-image: url(../img/fond-infusion.jpg);
    background-position: center;

}

/* SECCIONES DE TÉS E INFUSIONES */
/* Titulo de las secciones*/
.tes h2,
.infusiones h2 {
    text-align: center;
    margin: 3rem 0;
}

.tes__p {
    text-align: center;
    margin: 3rem 0;
}

/* DECORACIÓN DE CURVAS - para los fondos de los titulos y secciones*/
.elipse--up {
    clip-path: ellipse(150% 100% at 50% 100%);
}

.elipse--down {
    clip-path: ellipse(150% 100% at 50% 0%);
}

/* Contenedor de tés e infusiones(sección e imagen) */
.te,
.infusion {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color:rgb(var(--primary-rgb) / 0.25);

}

.te--color,
.infusion--color {
    background-color: rgb(var(--primary-rgb) / 0.07);;
}

/*TEXTO DE LAS SECCIONES (h3 - p - ul) */
.te__text,
.infusion__text {
    margin: 0 auto;
    width: 31.25rem;
}

.te__text h3,
.infusion__text h3 {
    margin: 2rem 0;
    color: rgb(var(--secondary-rgb) / 0.56);
    font-size: clamp(2em, 2vw, 6em);
}

.te__text p,
.infusion__text p {
    color: var(--secondary);
    font-size: clamp(.6em, 1vw, 2em);
    margin: 2rem 0;
}

.te__text ul,
.infusion__text ul {
    padding: 0 0 0 2rem;
}

.te__text li,
.infusion__text li {
    color: var(--secondary);
    font-size: clamp(.6em, 1vw, 2em);
    list-style: circle;
}

/* IMÁGENES DE TÉ / INFUSIÓN */
.infusion__img,
.te__img {
    flex: 0 0 50%;
    overflow: hidden;
}

.infusion__img img,
.te__img img {
    width: 100%;
    height: 100%;
    display: block;
}

/* MEDIA QUERY - MÓVIL*/
@media (max-width: 48rem) {

    .te,
    .infusion {
        flex-direction: column;
        width: 100%;
    }

    .te__h3,
    .infusion__h3 {
        order: 1;
    }

    .te__img,
    .infusion__img {
        order: 2;
        width: 100%;
    }

    .te__text,
    .infusion__text {
        order: 3;
        width: 100%;
        padding: 2rem;
    }

    /* Suavizo la elipse para que se visualice el texto en modo responsive*/
    .elipse--up {
        clip-path: ellipse(200% 100% at 50% 100%);
    }

    .elipse--down {
        clip-path: ellipse(200% 100% at 50% 0%);
    }
}

/* SECCIÓN MATCHA */
.matcha {
    padding: 1rem 0;
    background-image: url(../img/fond-matcha.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CONTENIDO MATCHA */
.matcha__box {
    margin: 0 auto;
    padding: 3rem;
    background-color: var(--white);
    width: 70%;
    border-radius: 2rem;
    box-shadow: 0 0 20rem rgba(0, 0, 0, 0.407);
}

.matcha__box h2 {
    color: var(--primary);
    text-align: center;
    margin: 1rem 0;
}

.matcha__box p {
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
}

.matcha__box img {
    width: 100%;
}

.matcha__box video {
    width: 100%;
    border-radius: 1rem;
}

/* PASOS DEL TE MATCHA */
.steps {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.step {
    width: 15.625rem;
    background-color: rgb(var(--secondary-rgb) / 0.38);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.step h3 {
    color: rgb(var(--secondary-rgb) / 0.74);
    margin: 1rem 0;
    text-align: center;
}

/* BENEFICIOS MATCHA */
.benefits__ul li {
    list-style: disc;
    list-style-position: inside;
    margin: 2rem;
}

.benefits__ul li::marker {
    color: var(--primary);

}

/* MEDIA QUERY - MÓVIL (MATCHA) */
@media (max-width: 31.25rem) {
    .matcha__box {
        width: 85%;
        padding: 1rem;
    }

    .matcha h1 {
        color: var(--white);
        text-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.167);
    }
}

/* SECCIÓN CONTACTO */
.contact {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.contact__p {
    margin: 2rem 0;
}

.contact--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

/* FORMULARIO DE CONTACTO */
form,
input,
textarea,
button,
.contact__img {
  width: 100%;
  max-width: 21.875rem;
}

/* ETIQUETAS OCULTAS (ACCESIBILIDAD) */
label {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 0;
    padding: 0;
}

/* CAMPOS DE FORMULARIO */
input,
textarea {
    margin: 1rem 0;
    display: flex;
    padding: .7rem;
    background-color: rgb(var(--primary-rgb) / 0.19);
    border-radius: .4rem;
}

/* BOTÓN DE ENVÍO */
button {
    padding: .7rem;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary);
}

.contact__img {
    width: 21.875rem;
}

.contact__img img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: .4rem .4rem .6rem rgba(0, 0, 0, 0.059);

}
/* MAPA DE LOCALIZACIÓN */
.map {
    text-align: center;
    margin: 4rem 0;
}

.map a{
    color: var(--primary);
    text-decoration: none;
}

.map iframe {
    width: 60%;
    height: 12.5rem;
    margin: 5rem 0;
    border-radius: 1rem;
    box-shadow: .4rem .4rem 1rem rgb(var(--primary-rgb) / 0.19);
}

/* MEDIA QUERY - CONTACTO (MÓVIL) */
@media (max-width:48em) {
    .contact {
        width: 100%;
    }

    .contact__p,
    .map iframe {
        width: 90%;
        margin: 1rem auto;
    }
}

/* PIE DE LA PAGINA */
footer {
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

footer p {
    color: white;
    font-weight: bold;
}


/* ANIMACIONES VIEWPORT
    Descripción: Animación que usa opacidad y desplazamiento en X e Y para los elementos que sean visibles en 20% al hacer scroll en pantalla.*/
.reveal {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 2s ease, transform .6s ease;
}

.reveal.up {
    transform: translateY(2.5rem);
}

.reveal.down {
    transform: translateY(-2.5rem);
}

.reveal.left {
    transform: translateX(-2.5rem);
}

.reveal.right {
    transform: translateX(2.5rem);
}

.reveal.visible {
    opacity: 1 !important;
    transform: translateX(0) translateY(0);
}