/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    color: black;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sidebar {
    padding: 1rem;
    height: 70px;
    width: 70%;
    margin: 0 auto;
}

.sidebar__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__li img{
    width: 60px;
}

.sidebar__a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

main {
    min-height: calc(100vh - 140px);
}


/* INICIO */
/* Slide manual*/

.slideshow__container {
    width: 100%;
    height: calc(100vh - 140px);
    overflow: hidden;
    position: relative;
}

.slides__wrapper {
    display: flex;
    height: 100%;
    transition: transform 4s ease;
}

.my__slides {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.my__slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slider__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: 15%;
    width: 70%;
    color: aliceblue;
    font-size: clamp(3rem, 5vw, 6rem);
    text-align: center;
    line-height: 1.1;
}


.slider__nav {
    text-align: center;
    position: absolute;
    bottom: 100px;
    width: 100%;
}

/* Botones del slider */
.dot {
    cursor: pointer;
    height: .7rem;
    width: 10px;
    margin: 0 .125rem;
    background-color: #46644e;
    opacity: .5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.active,
.dot:hover {
    opacity: 1;
    background-color: #6e9f32;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* Beneficios Inicio */
.benefits {
    background-color: #46644e38;
    padding: 3rem;
    height: auto;
}

.benefits h2{
    color: #2e4133;
    text-align: center;
    padding: 4rem;
}

.benefits--flex{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem;
    justify-content: center;

}

.benefits__img {
    max-width: 500px;     
}

.benefits__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* rellena sin deformar */
    
}


.benefits__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 40rem;
}

.benefits__card {
    text-align: center;
    background-color: white;
    width: 16rem;
    height: 15.625rem;
    padding: 1rem;
    box-shadow: .3rem .3rem .5rem #46644e14;
}

.benefits__card h3{
    color: #6e9f32;
    font-weight: bold;
    margin: 1rem;
}

.benefits__card img{
    width: 3.125rem;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2e4133;
}

footer p {
    color: white;
    font-weight: bold;
}



/* INFUSIONES */

/* Estilo submenus Infusiones-Tés-Como preparar */
.submenu{
    display: flex;
    justify-content: center;
    background-color: #6e9f32;
    height: 3rem;
    align-items: center;
}

.submenu__ul {
    display: flex;
    gap: 2rem;
}

.submenu__ul li a {
    color: white;
    font-weight: bold;
}

.submenu__ul li a:hover {
    color: #46644e;
    font-weight: bold;
}

/* Centrar contenido */
.infusiones, .tes {
    margin:0 auto;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.199);
    border-radius: 1rem;
}

.tes h1,
.tes h2,
.infusiones h1,
.infusiones h2{
    text-align: center;
    margin: 3rem 0;
}



/* Background color */
.te--color, .infusion--color{
    background-color: #6e9f3235;
    padding: 3rem;
}


.te__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0;
    align-items: center;

}

.infusion__img, .te__img {
  width: 300px;
  display: block;
}

.infusion__img img, .te__img img {
  width: 100%;
  height: auto; 
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.6rem #46644e75;
}

/* TÉS*/

/* COMO PREPARARLO */

/* CONTACTO */